body {
	font-family: 'Quicksand', sans-serif;
}
a {
	text-decoration:none
} 
#proximo { 
	color:#676767;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size:2.5em;
}

#pie { 
	height: 50px;
}
#ultimo {
	float:left;
}

#corte { 
	float:left;
}


#home { 
	width:850px;
	margin:0 auto;
	background:#fff;
}

.izquierda  {
	font-family: 'Concert One', cursive;
	font-size:1.5em;
	text-align:center;
	width: 30px;
	height: 30px;
	background-color:#4B8DF9;
	float:left;
	margin-right:5px;
}
.izquierda a {
	color:#fff;
} 

.derecha {
	font-family: 'Concert One', cursive;
	font-size:1.5em;
	text-align:center;
        width: 30px;
        height: 30px;
	background-color:#4B8DF9;
	float:left;
	margin-left:5px;
	
} 
.derecha a {
	color:#fff;
}


#header { 
	width:850px;
	height:100px;
	margin-bottom:5px;
	display:table;
}
#titulo { 
	width:595px;
	height:100px;
	background:#4b8df9;
	float:left;
	margin-right:5px;
}
#tiempo { 
	width:250px;
	background:#4b8df9;
	float:left;
} 



#anobar { 
	width:140px;

}

#ano {
	width:70px;
	height: 30px;
	background-color:#4B8DF9;
	float:left;
	text-align:center;
}


#mesbar { 
        width:696px;
	float:right;
	margin-bottom:5px;	
	
}
#mesbar li {
	width:53px;
	height: 30px;
	float:right;
	text-align:center;	
	margin-right:4px;
}
#mesbar ul {
        list-style-type: none;
        margin:0px;
        padding:0px;
}
#mesbar li a {
	display:inline-block;
	margin-left:10px;
	margin-top:10px;	
	font-size:1.2em;
}


#dia { 
	clear:both;
	text-align:center;
	color:#fff;
	
}
#fixdia { 
	width:70px;
	height: 21px;
	background-color:#4B8DF9;
	float:left;
	margin-right:4px;
	
}

#dia ul { 
	list-style-type: none;
	margin:0px;
	padding:0px;
}

#dia li {
	width:21px;
	height: 21px;
	float:left;
	margin-right:4px;
	text-align:center;
	font-size:0.9em;
}
#dia li a {
	display:inline-block;
	margin-top:2px;
}

#fixli { 
	margin-right:0px;
}

#hora { 
	clear:both;
}


#pie { 
	width:850px;
	background-color:#f5f5f5;
	position: absolute; 
	bottom: 0px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
	border-top: 1px solid #878787;
}

#fix5 { 
	margin-top:5px;
	display:inline-block;
	color:#fff;
}
.actual a  {
        color:#fff;
}
.inactivo a  {
        color:#333333;
}
.activo a {
	color:#fff;
}

.actual { 
	background-color:#FF4500;
}
.inactivo {
	background-color:#f7f7f7;
}
.activo {
	background-color:#333333;
}
