body {
	font-family: 'Quicksand', sans-serif;
	height: 100%;
}
a {
	text-decoration:none
} 

#ultimo {
	float:left;
}

#corte { 
	float:left;
	width:150px;
	height:100px;
	text-align:center;
	background:#F7F7F7;
	margin-right:5px;
}
#proximo {
        color:#676767;
        font-family: sans-serif;
        font-weight: 400;
        font-size:3.5em;
	display:inline-block;
	margin-top:5px;
}


#home { 
	width:850px;
	margin:0 auto;
	background:#fff;
	overflow:auto;
	min-height: 100%;
	}

.izquierda  {
	font-family: 'Concert One', cursive;
	font-size:1.5em;
	text-align:center;
	width: 30px;
	height: 30px;
	background-color:#555555;
	float:left;
	margin-right:5px;
}
.izquierda a {
	color:#fff;
} 

.derecha {
	font-family: 'Concert One', cursive;
	font-size:1.5em;
	text-align:center;
        width: 30px;
        height: 30px;
	background-color:#555555;
	float:left;
	margin-left:5px;
	
} 
.derecha a {
	color:#fff;
}


#header { 
	width:850px;
	height:100px;
	margin-bottom:5px;
	display:table;
}
#titulo { 
	width:535px;
	height:100px;
	float:left;
	margin-right:5px;
}
#tiempo { 
	width:310px;
	height:100px;
	float:left;
}
#horaoficial { 
	width:150px;
	float:left;
	text-align:center;
	background:#F7F7F7;
	height:47.5px;
	margin-bottom:5px;
}  
#radioonline { 
        width:150px;
        float:left;
        text-align:center;
        background:#F7F7F7;
        height:47.5px;
	
} 


#anobar { 
	width:140px;

}

#ano {
	width:70px;
	height: 30px;
	background-color:#F7F7F7;
	float:left;
	text-align:center;
}


#mesbar { 
	float:right;
	margin-bottom:5px;	
	
}
#mesbar li {
	width:53px;
	height: 30px;
	float:left;
	text-align:center;	
	margin-right:4px;
}
#mesbar ul {
        list-style-type: none;
        margin:0px;
        padding:0px;
}
#mesbar li a {
	display:inline-block;
	margin-left:10px;
	margin-top:10px;	
	font-size:1.2em;
}


#dia { 
	clear:both;
	text-align:center;
	color:#333333;
	
}
#fixdia { 
	width:70px;
	height: 21px;
	background-color:#F7F7F7;
	float:left;
	margin-right:4px;
	
}

#dia ul { 
	list-style-type: none;
	margin:0px;
	padding:0px;
}

#dia li {
	width:21px;
	height: 21px;
	float:left;
	margin-right:4px;
	text-align:center;
	font-size:0.9em;
}
#dia li a {
	display:inline-block;
	margin-top:2px;
}

#fixli { 
	margin-right:0px;
}

#hora { 
	clear:both;
	display:inline-block;
	margin-top:5px;
}
#hora li {
	list-style-type:none;
	width:70px;
	margin-bottom:5px;
	text-align;center;
	
}


#pie { 
        height: 75px;
	width:850px;
	background-color:#f5f5f5;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
	border-top: 1px solid #878787;
	position: relative;
}

#fix5 { 
	margin-top:5px;
	display:inline-block;
	color:#333333;
}
.actual a  {
        color:#fff;
}
.inactivo a  {
        color:#333333;
}
.activo a {
	color:#fff;
}

.actual { 
	background-color:#db5e4a;
}
.inactivo {
	background-color:#f7f7f7;
}
.activo {
	background-color:#333333;
}
